NET "clk" LOC = "AA28" | IOSTANDARD = LVCMOS18;
NET "rst" LOC = "AE21" | IOSTANDARD = LVCMOS18;

NET "In0[14]" LOC = "AD19" | IOSTANDARD = LVCMOS18;
NET "In0[13]" LOC = "AE19" | IOSTANDARD = LVCMOS18;
NET "In0[12]" LOC = "AF21" | IOSTANDARD = LVCMOS18;
NET "In0[11]" LOC = "AG21" | IOSTANDARD = LVCMOS18;
NET "In0[10]" LOC = "AC18" | IOSTANDARD = LVCMOS18;
NET "In0[9]" LOC = "AF25" | IOSTANDARD = LVCMOS18;
NET "In0[8]" LOC = "AN33" | IOSTANDARD = LVCMOS18;
NET "In0[7]" LOC = "AK34" | IOSTANDARD = LVCMOS18;
NET "In0[6]" LOC = "AL34" | IOSTANDARD = LVCMOS18;
NET "In0[5]" LOC = "AP33" | IOSTANDARD = LVCMOS18;
NET "In0[4]" LOC = "AK32" | IOSTANDARD = LVCMOS18;
NET "In0[3]" LOC = "AK33" | IOSTANDARD = LVCMOS18;
NET "In0[2]" LOC = "AM32" | IOSTANDARD = LVCMOS18;
NET "In0[1]" LOC = "AN32" | IOSTANDARD = LVCMOS18;
NET "In0[0]" LOC = "AL33" | IOSTANDARD = LVCMOS18;

NET "In1[14]" LOC = "AM33" | IOSTANDARD = LVCMOS18;
NET "In1[13]" LOC = "AP30" | IOSTANDARD = LVCMOS18;
NET "In1[12]" LOC = "AP31" | IOSTANDARD = LVCMOS18;
NET "In1[11]" LOC = "AJ30" | IOSTANDARD = LVCMOS18;
NET "In1[10]" LOC = "AK31" | IOSTANDARD = LVCMOS18;
NET "In1[9]" LOC = "AM30" | IOSTANDARD = LVCMOS18;
NET "In1[8]" LOC = "AN30" | IOSTANDARD = LVCMOS18;
NET "In1[7]" LOC = "AJ29" | IOSTANDARD = LVCMOS18;
NET "In1[6]" LOC = "AK29" | IOSTANDARD = LVCMOS18;
NET "In1[5]" LOC = "AL31" | IOSTANDARD = LVCMOS18;
NET "In1[4]" LOC = "AM31" | IOSTANDARD = LVCMOS18;
NET "In1[3]" LOC = "AL29" | IOSTANDARD = LVCMOS18;
NET "In1[2]" LOC = "AL30" | IOSTANDARD = LVCMOS18;
NET "In1[1]" LOC = "AK28" | IOSTANDARD = LVCMOS18;
NET "In1[0]" LOC = "AL28" | IOSTANDARD = LVCMOS18;

NET "In2[14]" LOC = "AK26" | IOSTANDARD = LVCMOS18;
NET "In2[13]" LOC = "AK27" | IOSTANDARD = LVCMOS18;
NET "In2[12]" LOC = "AJ26" | IOSTANDARD = LVCMOS18;
NET "In2[11]" LOC = "AJ27" | IOSTANDARD = LVCMOS18;
NET "In2[10]" LOC = "AG25" | IOSTANDARD = LVCMOS18;
NET "In2[9]" LOC = "AH25" | IOSTANDARD = LVCMOS18;
NET "In2[8]" LOC = "AH24" | IOSTANDARD = LVCMOS18;
NET "In2[7]" LOC = "AJ25" | IOSTANDARD = LVCMOS18;
NET "In2[6]" LOC = "AL25" | IOSTANDARD = LVCMOS18;
NET "In2[5]" LOC = "AL26" | IOSTANDARD = LVCMOS18;
NET "In2[4]" LOC = "AM26" | IOSTANDARD = LVCMOS18;
NET "In2[3]" LOC = "AM27" | IOSTANDARD = LVCMOS18;
NET "In2[2]" LOC = "AN29" | IOSTANDARD = LVCMOS18;
NET "In2[1]" LOC = "AP29" | IOSTANDARD = LVCMOS18;
NET "In2[0]" LOC = "AM25" | IOSTANDARD = LVCMOS18;

NET "In0[15]" LOC = "AN25" | IOSTANDARD = LVCMOS18;
NET "In1[15]" LOC = "AM28" | IOSTANDARD = LVCMOS18;
NET "In2[15]" LOC = "AN28" | IOSTANDARD = LVCMOS18;

NET "X[15]" LOC = "AG28" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[14]" LOC = "AH29" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[13]" LOC = "AH27" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[12]" LOC = "AH28" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[11]" LOC = "AD26" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[10]" LOC = "AD27" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[9]" LOC = "AG26" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[8]" LOC = "AG27" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[7]" LOC = "AE26" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[6]" LOC = "AF26" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[5]" LOC = "AE23" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[4]" LOC = "AE24" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[3]" LOC = "AC25" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[2]" LOC = "AD25" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[1]" LOC = "AC24" | IOSTANDARD = LVCMOS18 | DRIVE = 12;
NET "X[0]" LOC = "AD24" | IOSTANDARD = LVCMOS18 | DRIVE = 12;

NET "clk" TNM_NET = "clk";